body {
    height: 100vh;
    background-color: rgba(218, 95, 95, 0.781);
}

#app {
    height: 95%;
}
nav {
    height: 7%;
}
main {
    height: 93%;
}
.card.registration {
    flex-direction: row !important;
    border-radius: 2%;
    border: none !important;
}

.btn.registration {
    width: 100%;
}

.regis-pic {
    height: 100% !important;
    padding: 0;
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
}

.registration .card-heading {
    padding: 0;
}

footer {
    height: 5%;
}
