body, #app {
    min-height: 100vh;
}

nav {
    min-height: 7vh;
}
main {
    min-height: 87vh;
    background-image: url(../images/main-background.jpg);
    background-size: cover;
}


footer {
    height: 6vh;
    background-color: rgb(172, 210, 212);
}

.card {
    border: none;
}
.card.registration {
    flex-direction: row !important;
    border-radius: 2%;
    border: none !important;
}
.material-icons {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 900;
}
.home .row {
    width: 100%;
}
.btn.registration {
    width: 100%;
}

.regis-pic {
    height: 100% !important;
    padding: 0;
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
}

.registration .card-heading {
    padding: 0;
}

.reservation .card-header {
    background-color: rgb(172, 210, 212);
}
.material-icons.loyalty {
    font-size: 1.5rem;
    color: rgb(248, 110, 110);
}